.heading {
  color: orangered;
  font-size: 15px;
  border-bottom: 1px solid red;
}

.star {
  color: gold;
}

.delete {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.edit {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  right: auto;
  position: fixed;
}
