.heading {
  color: orangered;
  font-size: 15px;
  border-bottom: 1px solid red;
}

.star {
  color: gold;
}

.delete {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.edit {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  right: auto;
  position: fixed;
}

.popup {
  background-color: whitesmoke;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3px;
}

.following {
  background-color: powderblue;
}
